<template name="createProduct">
<div class="row">
    <div class="col-md-8">
      <h3>Create New Product</h3>
      <form role="form" id="createProduct">
        <div class="form-group">
          <label for="productName">Name</label>
          <input type="text" class="form-control" id="productName" placeholder="Name">
          <label for="productPrice">Price</label>
          <input type="text" class="form-control" id="productPrice" placeholder="Price">
          <label for="productQuanitty">Quantity</label>
          <input type="text" class="form-control" id="productQuanitty" placeholder="Quantity">
          <label for="productDesciption">Description</label> <br />
          <textarea rows="5" cols="50" class="form-control" id="productDesciption" placeholder="Description" form="createProduct"></textarea>
        </div>
        <hr>
        <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Save</button>
        <a href="{{ pathFor 'home'}}" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
      </form>
    </div>
  </div>

</template>