<template name="home">
  <div class="home">
    <div class="intro-header">
      <div class="container">
        <div class= "row">
          <div class="col-lg-12">
            <div class="intro-message">
              {{#if currentUser}}
              <h1>Hello {{currentUser.profile.fullName}}</h1>
              <h3>Welcome to {{siteTitle}}</h3>
              {{else}}
              <h1>Welcome to {{siteTitle}}</h1>
              {{/if}}
            </div>
         </div>
        </div>
      </div>
    </div>
    <div class="container" style="text-align: center;">
    <h3> Newest Products </h3>
    <ul class="productList">
      {{#each products}}
      <li class="productList">
        {{>productTile}}

      </li>
      {{/each}}
    </ul>
  </div>
</div>
</template>
