<template name="productDetails">

    <img src="/images/default_product.png" alt="{{name}}" />
    <h4>{{name}}</h4>

    ${{price}}

    <div class="productDescription"> Description: {{description}} </div>

    <!-- Link to the user's public page. -->
    <div class="productOwner"> Posted by: <a href="#">{{owner}}</a></div>

    {{#if quantity}}
    	<div class="itemAvailability"> Quantity: {{quantity}} </div>
    	{{> buyProduct}}
    {{else}}
    	<div class="itemAvailability"> Sold Out! </div>
    {{/if}}

    {{#if currentUser}}
        {{> messages}}
    {{/if}}

</template>