<template name="productDetails">
<div class="container-fluid">
    <div class = "content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-5 service-image-left">
                        <center>
                            <img src="{{pic}}" alt="{{name}}" />
                        </center>
                    </div>
                    <div class = "col-md-7">
                        <div class="product-title">{{name}}</div>
                        <div class="product-desc">{{description}}</div>
                        <hr>
                        <div class="product-price">${{price}}</div>
                        {{#if quantity}}
                        <div class="product-quantity">Quantity: {{quantity}}</div>
                         <div class="btn-group cart">
                            <button type="button" class = "btn btn-success" id="cart" >Add to cart</button>
                        </div>
                        {{else}}
                        <div class="product-quantity">SOLD OUT</div>
                         <div class="btn-group cart">
                            <button type="button" class = "btn btn-success" disabled="disabled" id="cart" >Add to cart</button>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">{{>messages}}</div>
</div>

</template>