<template name="messages">
<div class="detailBox">
<div class="titleBox">
    <label> Comment Box</label>
</div>
    <div class="actionBox">
        <ul class="commentList">
            {{#each messages}}
            <li>
                <div class="commentText">
                    <p class="">{{summarize value}}</p>
                    <span class="date sub-text"> on {{prettifyDate createdAt}} : <a href="{{pathFor 'profile' _id=createdBy}}">{{userName}}</a></span>
                </div>
            </li>
            {{/each}}
        </ul>
        {{#if currentUser}}
        {{>entryField}}
        {{/if}}
    </div>
</div>

</template>