<template name="productTile">

    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail well">
            <a href="{{pathFor 'productDetails'}}"><img src="/images/default_product.png" alt="{{name}}" /></a>
            <div class="caption">
            <h5 class="pull-right">${{price}}</h5>
            <h5><a href="{{pathFor 'productDetails'}}">{{name}}</a></h5>
            </div>
            <div class="ratings">
                {{#if quantity}}
                    <p class="pull-right"><small>Quantity: {{quantity}}</small></p>
                {{else}}
                    <p class="pull-right"><small>Quantity: SOLD OUT</small></p>
                {{/if}}
                <p><a class="btn btn-default btn-xs" href="{{pathFor 'productDetails'}}" role="button"><i class="fa fa-info-circle"></i> Details</a></p>
            </div>
        </div>
    </div>
</template>