<template name="profile">
  <div class ="row">
    <div class="col-md-12">
      <h4> My information</h4>
      <p><strong>Name:</strong> {{profile.fullName}}</p>
      <p><strong>Email:</strong> {{email}}</p>
      <!-- <p><strong>Email:</strong> {{currentUser.emails[0].address}}</p> -->
      <p><strong>Bio:</strong> {{profile.bio}}</p>
      <hr>
      <p><a href="{{ pathFor 'editProfile'}}" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i> Edit Info</a></p>
    </div>
  </div>
</template>
