<template name="profile">
  <div class ="container">
    <div class ="row">
      <div class="col-md-12">
        <h4>My information</h4>
        <p> <strong>Name:</strong>
          {{profile.fullName}}
        </p>
        <p> <strong>Email:</strong>
          {{email}}
        </p>
        <p>
          <strong>Website:</strong>
          {{profile.website}}
        </p>
        <p>
          <strong>Bio:</strong>
          {{profile.bio}}
        </p>
        <!-- <p>
        <strong>Products Posted:</strong>
        <a class="{{ isActivePath 'userProducts' }}" href="{{ pathFor 'userProducts' }}">{{posted}}</a>
      </p>
      -->
      <hr>

      <p>
        <strong>My Products</strong>
      </p>
      <div class = "row">
        <div class="col-md-6">
          <div class="list-group">
            {{#each getMyPosted}}
            <a href= "{{pathFor 'productDetails'}}" class= "list-group-item clearfix">
              {{nameSummarize name}}
              <span class="pull-right">
                <span class="badge">{{quantity}}</span>
                {{#if isOwnedByMe}}
                <div class="btn-group">
                  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-cog"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="{{pathFor 'editProduct'}}">Edit</a>
                    </li>
                    <li>
                      <a id="removeProduct" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                {{/if}}
              </span>
            </a>
            {{else}}
            <a href="#" class = "list-group-item disabled">No Products</a>
            {{/each}}
          </div>
        </div>
      </div>
      {{#if isOwner}}
      <p>
        <a href="{{ pathFor 'editProfile'}}" class="btn btn-default btn-xs"> <i class="fa fa-pencil-square-o"></i>
          Edit Info
        </a>
      </p>
      {{/if}}
    </div>
  </div>
</div>
</template>